*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#logo{
    height: 80px;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    background-color: gray;
}

.child1{
}

.child2{
    background-color: red;
}
.car-img{
    width: 100%;
    display: block;
}

#section2{
    margin-top: 30px;
    background-color: rgb(223, 223, 223);
    padding: 30px 0px;
}

.tour-package-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.tour-package{
    background-color: white;
}

.tour-package-content{
    margin: 20px;
    text-align: center;
}

.tour-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}
.tour-image{
    width: 100%;
}